@charset "utf-8";

/**
 * The JSDoc style for CS Parser
 * @author Satoshi Soma (https://amekusa.com)
 */

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
	margin-top: 0;
}

p:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}

hr {
	border-style: solid;
	border-color: #eee;
}

code {
	background-color: transparent;
	color: lightseagreen;
}

pre > code {
	display: block;
	color: #4d4d4c;
}

h1.page-title {
	position: sticky;
	z-index: 1;
	top: 0px;
	padding-top: 13.5px;
	padding-bottom: 12.5px;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	background-color: rgba(255, 255, 255, .8);
	background-image: linear-gradient(
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, .0)
	);
	font-size: 44px;
	font-family:
		"American Typewriter",
		"Courier New",
		Courier,
		"Source Code Pro",
		monospace;
	font-weight: bold;
	font-stretch: condensed;
}
h1.page-title + section > header > h2 {
	display: none;
}

.social-links .icon {
	font-size: 36px;
	color: inherit;
}
.social-links .icon:hover,
.social-links .icon:focus {
	color: #0095dd;
}
.social-links .icon + .icon {
	margin-left: .25em;
}

#main {
	float: left; /* This expands width to prevent tables overflowing */
	width: auto;
	min-width: 100%;
	padding-left: 250px;
	padding-right: 0;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}
#main > * {
	padding-left: 30px;
	padding-right: 30px;
}
#main .readme {
	margin-top: 30px;
}

footer {
	clear: both;
	border-top: none;
}
footer > * + * {
	margin-top: 15px;
}

#sidebar {
	position: fixed;
	z-index: 3;
	padding: 0;
}
#sidebar > *:first-child {
	margin-top: 0;
}
#sidebar > *:last-child {
	margin-bottom: 0;
}
#sidebar > ul,
#sidebar > .brand {
	margin: 0;
	padding: 10px;
}
#sidebar > ul {
	padding-top: 0;
}
#sidebar .brand {
	position: sticky;
	z-index: 1;
	top: 0;
	background-color: white;
}
#sidebar .brand a,
#sidebar .brand img {
	display: block;
	width: 100%;
}
#sidebar .nav-home-link {
	display: none;
}
#sidebar .nav-home-link + .nav-heading ~ .nav-heading {
	position: sticky;
	z-index: 0;
	top: 52px;
	border-bottom: 1px solid #eee;
	background-color: white;
}

.description {
	margin-top: 0;
}

.subsection-title {
	margin-top: 60px;
}

h4.name {
	color: hotpink;
	/* Anchor offset */
	padding-top: 75px;
	margin-top: -75px;
}
h4.name > .type-signature > a {
	opacity: .5;
}

.section-members + .section-members {
	margin-top: 30px
}
.section-members > h5,
.section-members > h5 + ul {
	display: none
}

.section-method {
	border: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.section-method + .section-method {
	margin-top: 60px;
}
.section-method > h4.name > .signature {
	margin-left: .5em;
	color: lightpink;
}

@media only screen and (min-width: 320px) and (max-width: 680px) {
	body {
		overflow: auto;
	}
	#main {
		min-width: 320px;
		padding-left: 15px;
		padding-right: 15px;
	}
	#main h1.page-title {
		margin-top: 0;
		margin-bottom: 0;
	}
	.navicon-button {
		z-index: 4;
		top: 0;
		padding: 24px 15px;
	}
	.overlay {
		z-index: 2;
	}
}
